<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403497080135-c0gfkautfni6cfbj2urut6rnod2q3dl5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403497080135-c0gfkautfni6cfbj2urut6rnod2q3dl5</string>
	<key>API_KEY</key>
	<string>AIzaSyBzF71gP7FXrzu5Lsb9Pez1ev--uBkwaWA</string>
	<key>GCM_SENDER_ID</key>
	<string>403497080135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sp.firebase-auth</string>
	<key>PROJECT_ID</key>
	<string>learning-firebase-with-native</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-firebase-with-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:403497080135:ios:a4e596d44f9dd3f0632862</string>
</dict>
</plist>
